{
  "projects": {
    "default": "your-firebase-project-id"
  }
}


1) Library Access tracking - history section
2) Download libray pdf redesign 
3) Download Word document should be same as cat download
4) Library Licensing 

There are 4 roles 
1)Full aliment role
2)editor role
3)Reviewer role
4)aprovar role
5)Lingivistic role 
6)Collabrators 




1) we need meta data support
2) how much editing we 
3) white lableing  
4) cloude support 
5) Soc 2  Licensing
6) version management 
7) language support  
8) 